@font-face
{
    font-family: 'The Bold Font';
    src: url('./fonts/TheBoldFont.ttf'),
    url('./fonts/TheBoldFont.eot'); /* IE */
}

/* @media (min-width: 1200px)
{
    .container {
        max-width: 980px;
    }
} */

a:link 
{
    color: #b0cef1;
}
a:visited 
{
    color: #b0cef1;
}
a:hover 
{
    color: #dce2e9;
}
a:active 
{
    color: #93bceb;
}

html,
.ggi-grey-dark
{
    background-image: url("images/gaming-pattern-1.png");
    background-color: #303132;
    font-family: 'Roboto', sans-serif;
    color: #dce2e9;
}

body
{
    margin: 0px;
    margin-top: 52px;
}

.navbar
{
    left: 0px;
    right: 0px;
    display: block;
    position: fixed;
    height: 32px;
    top: 0px;
    padding: 10px 5% 10px;
    color: #ffffff;
    background-color: #ff7f00;
    font-family: 'The Bold Font', sans-serif;
    /* border-top: 1px solid #ff972f; */
}

.navbar img
{
    margin-right: 10px;
    vertical-align: middle;
}

.name
{
    float: left;
    vertical-align: middle;
}
.name span
{
    vertical-align: middle;
}

.menu
{
    float: right;
    height: 30px;
    font-size: 20px;
}
.menu span
{
    vertical-align: middle;
    height: 30px;
}
.menu a
{
    display: inline;
    vertical-align: middle;
    text-decoration: none;
    height: 30px;
    margin-left: 15px;
}
.menu a:link 
{
    color: #ffffff;
}
.menu a:visited 
{
    color: #ffffff;
}
.menu a:hover 
{
    color: #dce2e9;
}
.menu a:active 
{
    color: #93bceb;
}

.container
{
    margin: 80px 10% 0px;
}

#Games,
#About
{
    font-family: 'The Bold Font', sans-serif;
    padding-top: 80px; 
    margin-top: -80px;
}

.info
{
    float: right;
    margin: auto;
    width: 50%;
    vertical-align: middle;
}

.vegetaball,
.null-space
{
    display: inline-block;
    height: auto;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.vegetaball img,
.null-space img,
td img
{
    display: block;
    float: left;
    margin: auto;
    width: 50%;
    text-align: center;
}

.section
{
    display: block;
    float: left;
    margin: 0px;
    margin-bottom: 50px;
}

table
{
    width: 100%;
    table-layout: fixed;
}

td
{
    text-align: center;
    width: 50%;
}


.ggi-orange
{
    background-color: #ff7f00;
}

.ggi-orange-dark
{
    background-color: #ff7800;
}

.ggi-grey
{
    font-family: 'Roboto', sans-serif;
    color: #dce2e9;
    background-color: #373839; /*cc5c00*/ /*#303132*/
    /* border-top: 1px solid #ffa44a;
    border-bottom: 1px solid #ffa44a; */
}

.card
{
    background-color: #4d4e50;
    border: 0px solid #dce2e9;
    color: #dce2e9;
    box-shadow: 0px 3px 10px #303132;
}
.card>img
{
    border-radius: 0.25rem;
    width: 100%;
    height: auto;
}
.card-text
{
    height: 50px;
    width: auto;
    overflow: hidden;
}

.btn-outline-secondary
{
    border: 1px solid #dce2e9;
    color: #dce2e9;
}

.navbar-ggi-orange .navbar-toggler
{
    color: #fff7ef;
    border: 4px solid #ffffff;
}

.navbar-toggler-icon
{
    background: no-repeat center center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.ggi-orange-muted
{
    color: #fff7ef;
}

.footer
{
    background-color: #303132;
    font-family: 'Roboto', sans-serif;
    color: #dce2e9;
    margin: 20px;
    height: auto;
}

.glyphicon
{
    width: 20px;
    height: 20px;
}